<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_eco_cycle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_eco_cycle_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoCycle"
        tools:targetApi="31">
        <activity
            android:name=".CooperativaList"
            android:exported="false" />
        <activity
            android:name=".FrameMaps"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FormCadastro"
            android:exported="false" />
        <activity
            android:name=".FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FormCadastroLocal" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCxVOi-BF375BPNzWLdBwc9aE03T_HiVaA" />
    </application>

</manifest>